.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: DarkSlateGrey;
  color: white;
}

.snake-game__map-block-item {
  border: 1px solid black;
  box-sizing: border-box;
}

.snake-game__draw-snake-body {
  background: white;
  transition: all 0.1s;
}

.snake-game__map-wrapper {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  @media only screen and (max-width: 600px) {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
  }
}


.snake-game__draw-snake-food {
  background: red;
  border-radius: 100%;
}